.tit input {
  width: 100%;
  height: 61px;
  border-radius: 5px;
  border: 2px solid #ddd;
  color: #757575;
  font-family: var(--ham);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-left: 42px;
  margin-top: 41px;
}
.tit select {
  width: 100%;
  height: 61px;
  border-radius: 5px;
  border: 2px solid #ddd;
  color: #757575;
  font-family: var(--ham);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-left: 42px;
  margin-top: 41px;
}
.tits {
  color: #757575;
  font-family: var(--ham);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}
.can input {
  color: #757575;
  font-family: var(--ham);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  width: 100%;
  height: 61px;
  border-radius: 5px;
  border: 2px solid #ddd;
  color: #757575;
}
.can {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
}
.hs {
  color: #292929;
  font-family: var(--ham);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}
.tit textarea {
  width: 100%;
  height: 568px;
  border-radius: 5px;
  border: 2px solid #ddd;
  color: #757575;
  font-family: var(--ham);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-left: 42px;
  margin-top: 41px;
}
.tit select {
  width: 100%;
  height: 61px;
}
.wri {
  width: 438.545px;
  height: 67px;
  border-radius: 5px;
  background: #0086b0;
  border: none;
  color: #f0f8ff;
  font-family: Harmattan;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 67px;
  margin-bottom: 50px;
}
.writ {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 430px) {
  .tit input {
    width: 360px;
  }
  .tit select {
    width: 360px;
  }
  .tit textarea{
    width: 360px;
    height: 300px;
  }
  .wri{
    width: 200px;
    margin-top: 30px;
  }
  .oh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
